{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1> Привет! Меня зовут Саша, я являюсь автором сервиса foodgram-project🤯. Пару слов обо мне =)</h1>
<p>
  На момент написания этого текста мне 19 лет. Есть кот, который постоянно орёт по утрам.
  Люблю прикалываться с друзьями в колледже, и не люблю работать..
  Что-бы попасть в мир программирования мне пришлось поступить в колледж на специальность 'программное обеспечение', именно так она называется,
  если мне память не изменяет..🤔
  Но когда на втором курсе мы большую часть времени рисовали цветики-семицветики в paint, я стал задумываться о самостоятельном изучении программирования.
  На тот момент с языком я определился, нашел курс от Яндекс.практикум. Начал интересоваться, что да как. Посмотрел отзывы на ютубе об обучении на этой платформе. Всё устроило.
  Начал проходить вводный курс по основам Python. Спектр эмоций был разный, от агрессии, из-за того, что ничего не получается и ничего не понятно,
  до эйфории, когда читал тему <a href='https://practicum.yandex.ru/trainer/backend-developer/lesson/42c2fba8-e3c8-420b-9234-7d38eab00fe9/' target="_blank">Ticket to ride</a> в модуле 'Основы Python'.
</p>
<p> 
  <h4>Немного ссылочек на мои соц.сети:</h4>
</P>
<ul>
  <li>
    <a href='https://github.com/SoliDeoGloriaaa' target="_blank"> Это мой аккаунт в GitHub🙃 </a>
  </li>
  <li>
    <a href='https://vk.com/solideogloriaaa' target="_blank"> Это моя страница ВК🙃 <a/>
  </li>
</ul>
{% endblock %} 